

<ion-content>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartões de Crédito</title>
    <link rel="stylesheet" href="cartoes.page.scss" />
  </head>
  <body>
    <h1>Cartões de Crédito</h1>
    <div class="card">
      <div class="card-header">
        <h2>Cartão de Crédito Visa</h2>
        <img src="../../../assets/visa.png" alt="Visa Logo" />
      </div>
      <div class="card-body">
        <ul>
          <li>Número do cartão: **** **** **** 1234</li>
          <li>Data de validade: 12/24</li>
          <li>Nome do titular: John Doe</li>
          <li>Código de segurança: ***</li>
        </ul>
      </div>

      <div class="card-body">
        <ul>
          <li>Número do cartão: **** **** **** 6784</li>
          <li>Data de validade: 12/23s</li>
          <li>Nome do titular: gustavo mendes</li>
          <li>Código de segurança: ***</li>
        </ul>
      </div>

    </div>
  </body>

</ion-content>
