<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<link href="https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap" rel="stylesheet">
<link rel="stylesheet/scss" href="../explore-container/style.scss">

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="v1_2"><div class="v21_3"></div><div class="v17_5"></div><div class="v3_7"></div><div class="v8_2"></div><div class="v8_3"></div><span class="v2_4">Sul Bank</span><button ><a href="../tab1/tab1.page.html"><span class="v7_10">criar conta</span><span class="v7_8">acessar conta</span></a></button></div>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
