<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet/scss" href="style.scss">

  <body >
   
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" > </a>
            <img src="../../../assets/b-removebg-preview.png" alt="some text" width=100 height=100>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar" >
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >PRA VOCÊ
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><label routerLink="/contas">Contas </label></li>
                  <li><a href="#">Cartões</a></li>
                  <li><a href="#">Empréstimos</a></li> 
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRO SEU NEGÓCIO
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Franquias</a></li>
                  <li><a href="#">Open Finance</a></li>
                  <li><a href="#">Pagamentos e recebimentos</a></li> 
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">AGRONEGÓCIOS
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Investimentos</a></li>
                  <li><a href="#">Comercialização</a></li>
                  <li><a href="#">Convênios</a></li> 
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">SETOR PÚBLICO
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Federal</a></li>
                  <li><a href="#">Estadual</a></li> 
                  <li><a href="#">Municipal</a></li> 
                  <li><a href="#">Judiciário</a></li> 
                </ul>
              </li>
              <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text">
    
        <h3> <strong> BANCO DO BRASIL</strong></h3>
    
      </div>
     
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner " role="listbox">
          <div class="item active" >
            <img src="../../../assets/bancodobrasil.jpg" alt="New York">
            <div class="carousel-caption">
              <h3></h3>
              <p>BAIXE O APLICATIVO</p>
            </div>
          </div>
          <div class="item">
             <img src="../../../assets/mascote.jpg" alt="Chicago">
            <div class="carousel-caption">
              <h3></h3>
              <p>VEM SER CLIENTE</p>
            </div>
          </div>
      
          <div class="item">
            <img src="../../../assets/CARTÃO.jpg"  alt="Los Angeles">
            <div class="carousel-caption">
              <h3></h3>
              <p>CADASTRE-SE</p>
            </div>
          </div>
        </div>
        <div class="container text">
          <h3> <strong>NOSSA HISTÓRIA</strong> </h3>
          <p><em> Melhor banco  para você!</em></p>
          <p>A história do Banco do Brasil, de 1808 aos dias de hoje
            Há mais de 200 anos acontecia fato inédito na história mundial: uma colônia se transformou em império. O Brasil passou a ser a sede da Coroa Portuguesa.
            
            Havia apenas três bancos emissores no mundo - na Suécia, na França e na Inglaterra -, quando o príncipe D. João, recém-chegado ao Brasil, obrigado a deixar repentinamente Portugal, invadido pelas tropas de Napoleão, decidiu criar o Banco do Brasil.</p>
          <br>
          <div class="row">
            <div class="col-sm-4">
              
              <img src="../../../assets/imagem_servicos3_1.jpg" alt="Random Name" width="255" height="255">
            </div>
            <div class="col-sm-4">
            <img src="../../../assets/teleatendente.jpg" alt="Random Name" width="255" height="255">
          </div>
          <div class="col-sm-4">
           
            <img src="../../../assets/banco-do-brasil-no-exterior.jpg" alt="Random Name" width="255" height="255">
          </div>
          </div>
          <br><br>
          <div class="container">
            <h3 class="text-center">Contato</h3>
            <p class="text-center"><em>Entre em contato conosco!</em></p>
          
            <div class="row">
              <div class="col-md-4">
              
                <p><span class="glyphicon glyphicon-map-marker"></span>Rio de Janeiro-RJ</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: +21 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: bancodobrasil@mail.com</p>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                  </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                  </div>
                </div>
              </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
